body {
    background-image: url("../images/golf.webp");
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #81d720;
}

.table td {
    text-align: center;
}
td{
    font-weight: bolder;
    font-size: 20px;
}

a {
    padding: 35px;
}

.container{
    margin-top: 50px;
}

.btn{
    font-size: 24px;
}

.homeContainer{
    margin-top: 100px;
}

h2 {
    font-family: Garamond;
    font-weight: bolder;
    margin-bottom: 10px;
}

.courseRating {

    margin: 10px 0;

}

select{
    text-align: center;
}

form{
    border: solid 3px black;
    background-color: #cfe2ff;
}

