<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

    <title>Index</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="navbar-brand" th:href="@{/index}">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="navbar-brand" th:href="@{/ratings}">Ratings</a>
                </li>
                <li class="nav-item active">
                    <a class="navbar-brand" th:href="@{/scores}">Scores</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active" sec:authorize="isAuthenticated()" >
                    <a class="navbar-brand" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">

        <table class="table table-hover table-responsive table-bordered table-primary">
            <tr>
                <td>Email: </td>
                <td><span sec:authentication="principal.username">User</span></td>
            </tr>
            <tr>
                <td>Number of Courses Rated:</td>
                <td th:text = "${countRatings}"/>
            </tr>
            <tr>
                <td>Rounds of Golf Played:</td>
                <td th:text = "${countScores}"/>

            </tr>
        </table>
    </div>

    <script type="text/javascript"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>