<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <script type="text/javascript"
          th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
  <script th:src="@{/scripts/script.js}"></script>

  <title>Scores</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="navbar-brand" th:href="@{/index}">Home</a>
        </li>
        <li class="nav-item active">
          <a class="navbar-brand" th:href="@{/courses}">Courses</a>
        </li>
        <li class="nav-item active">
          <a class="navbar-brand" th:href="@{/ratings}">Ratings</a>
        </li>
        <li class="nav-item active">
          <a class="navbar-brand" th:href="@{/scores}">Scores</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active" sec:authorize="isAuthenticated()" >
          <a class="navbar-brand" th:href="@{/logout}">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container container-fluid text-center">
    <div><h2>Course Scores</h2></div>

    <div>
      <table class="table table-hover table-responsive table-bordered table-primary">
        <thead class="thead-dark">
        <tr>
          <th>Course Name</th>
          <th>Course Score</th>
          <th>Your Score</th>
          <th>Par</th>
          <th>Date</th>
          <th style="width: 8%">Update Score</th>
          <th style="width: 8%">Delete Score</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="score : ${listScores}">
          <td th:text = "${score.courseName}"/>
          <td th:text = "${score.courseScore}"/>
          <td th:text = "${score.userScore}"/>
          <td th:text = "${score.userScore - score.courseScore}"/>
          <td th:text = "${score.date}"/>
          <td>
            <a class="h4 mr-3 navbar-brand" th:href="@{'scores/edit/' + ${score.id}}">Edit</a>
          </td>
          <td>
            <a class="h4 mr-3 navbar-brand" th:href="@{'scores/delete/' + ${score.id}}">Delete</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="m-2">
      <a class="h3" th:href="@{/scores/new}"><button class="btn-primary btn">Add new score</button></a>
    </div>
  </div>
</body>
</html>