<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

  <title>Scores</title>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span> <span
                class="icon-bar"></span> <span class="icon-bar"></span> <span
                class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container-fluid text-center">
    <div><h2>Course Scores</h2></div>

    <div>
      <table class="table table-bordered">
        <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Course Name</th>
          <th>Course Score</th>
          <th>Your Score</th>
          <th>Par</th>
          <th>Date</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="score : ${listScores}">
          <td th:text = "${score.id}"/>
          <td th:text = "${score.courseName}"/>
          <td th:text = "${score.courseScore}"/>
          <td th:text = "${score.userScore}"/>
          <td th:text = "${score.userScore - score.courseScore}"/>
          <td th:text = "${score.date}"/>
          <td>
            <a class="h4 mr-3" th:href="@{'scores/edit/' + ${score.id}}">Edit</a>
            <a class="h4 mr-3" th:href="@{'scores/delete/' + ${score.id}}">Delete</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="m-2">
      <a class="h3" th:href="@{/scores/new}" >Add new score</a>
    </div>
  </div>
</body>
</html>